@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:#7FC315;
  --black:#2E84D1;
  --white:#fff;
  --light-color:#2E84D1;
  --light-bg:#fff;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
 }

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #7EC515;
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border: 1px solid;
  border-radius: 30px;
  font-weight: 800;

}

.btn:hover {
  background: #4A9FEC;
  color: #fff;
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.header .logo img {
  height: 15vh;
}

.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--yellow);
}

.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}

.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}

.header #menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}

.header .search-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}

.header .search-form label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}

.header .search-form label:hover {
  color: var(--yellow);
}

.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
  display: none;
}

.header .login-form.active {
  display: block;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: .7rem 0;
}

.header .login-form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.header .login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.header .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}

.header .login-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.header .login-form .btn {
  width: 100%;
}

.header .login-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 1.5rem;
}

.header .login-form p a {
  color: var(--yellow);
}

.header .login-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: .5rem;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 .3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}


.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--light-color)), to(transparent));
  background: linear-gradient(90deg, var(--light-color), transparent);
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6.2rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  line-height: 1;
 
}

.home .slide .content p {
  font-size: 3rem;
  color: #fff;
  line-height: 2;
  padding: 1rem 0;
  font-weight: 600;
}

.btn-wsp {
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 75px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 45px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.home .swiper-button-prev {
  right: 7rem;
}

.sobre-nosotros .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
 }

 .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.sobre-nosotros .row .image img {
  width: 100%;
  
}

.sobre-nosotros .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.sobre-nosotros .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.sobre-nosotros .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
    font-weight: 600;

}

.sobre-nosotros .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sobre-nosotros .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}

.sobre-nosotros .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.sobre-nosotros .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: .5rem;
}

.servicios {
  background: var(--light-bg);
}

.servicios .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.servicios .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: var(--border);
}

.servicios .box-container .box:hover img {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.servicios .box-container .box img {
  height: 7rem;
  margin-bottom: .5rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.servicios .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.servicios .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.productos {
  background: var(--black);
}

.productos .heading {
  color: var(--white);
}

.productos .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.productos .box-container .box {
  cursor: initial;
}

.productos .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.productos .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}

.productos .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.productos .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productos .box-container .box .content .info {
  padding: 1rem 2rem;
}

.productos .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

.productos .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.productos .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.reviews .slide p {
  padding: 1.5rem;
  background: #fff;
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 1.5;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;

}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50px;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.reviews .slide .user .stars {
  padding-top: .5rem;
}

.reviews .slide .user .stars i {
  font-size: 1.4rem;
  color: var(--yellow);
}

.pricing {
  background: var(--light-bg);
}

.pricing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
}

.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
}

.pricing .box-container .box .price span {
  font-size: 2rem;
}

.pricing .box-container .box .list {
  padding: 1rem 0;
}

.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.contacto {
  background: var(--black);
   font-family: 'Poppins', sans-serif;
}

.contacto .heading {
  color: var(--white);
}


.contacto .row {
  display: flex;
  align-items: center;         /* Centra verticalmente */
  justify-content: center;     /* Centra horizontalmente */
  gap: 2rem;                   /* Espacio entre columnas */
  flex-wrap: wrap;             /* Acomoda en pantallas chicas */
  padding: 2rem;
}

.contacto .qr img {
  width: 350px;               /* Ajustá según tamaño deseado */
  height: auto;
  border-radius: 10px;         /* Opcional: esquinas redondeadas */
}

.contacto .social {
  display: flex;
  flex-direction: column;      /* Una columna */
  gap: 0.5rem;                 /* Espacio entre líneas */
  font-size: 2.5rem;
  color: #fff;
}

.contacto .social i   {
  color: #fff; 
  margin-right: 8px;
}

.contacto .social p a  {
  color: #fff;               /* Color blanco para el texto */
  text-decoration: none;     /* Opcional: quita el subrayado */
  display: flex;             /* Alinea ícono y texto en línea */
  align-items: center;       /* Centra verticalmente */
  gap: 8px;                  /* Espacio entre ícono y texto */
 
}



/*
.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  flex-wrap: wrap
}

.contact .row .qr {
  
  width: 100%;
}

 

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.contact .row form .box {
  margin: .7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
}

.contact .row form .box:focus {
  border-color: var(--yellow);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}



*/

.repuestos {
  background: #fff;
}

.repuestos .slide {
  text-align: center;

}

.repuestos .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
         
}

.repuestos .slide .image {
  height: 30rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
   display: flex;
   flex-wrap: w;
}

.repuestos .slide .image img {
  height: 100%;
  width: 100%;
 
}


.repuestos .slide .content {
  padding: 3rem;
  padding-top: 6rem;
  background: #2E84D1;
  
}

.repuestos .slide .content h3 {
  font-size: 3rem;
  color: #fff;
  text-transform: capitalize;
}

.repuestos .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}


.logo-container {
  overflow: hidden;
  background: #fff;
  padding: 2rem 0;
  position: relative;
}


.swiper-wrapper-diapositiva {
  display: flex;
  gap: 4rem;
  width: max-content;
  animation: scroll 20s linear infinite;
 
}

.swiper-slide-diapositiva {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo-container img {
  height: 10rem;
  pointer-events: none;
  user-select: none;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.logo-container img:hover {
  filter: grayscale(0%);
}

/* Loop infinito fluido */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



.footer {
  text-align: center;
}

.footer .links .btn {
  margin: .5rem;
}

.footer .credit {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
}

.footer .credit span {
  color: var(--yellow);
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .row .content h3 {
    font-size: 2.5rem;
  }
}
